# Analisis exploratorio de datos: Encuesta Nacional de Inclusion Financiera (ENIF)

## Presenta: Luis Carlos Rodriguez Pacheco

## luis.pacheco@train.ia.center

## Ciencia de datos Bosch modulo 1: Centro de Inteligencia Artificial (IA-CENTER)

## Indice de Contenido:

### 1. Introducción

### 2. Metodología
    2.1. Importación de datos
    2.2. Análisis exploratorio
    2.3. Limpieza de datos
    2.4. Preparación de datos
    2.5. Visualización de datos (parte teórica)

### 3. Resultados y discusiones

### 4. Dashboard y conclusiones finales

### 5. Bibliografía consultada

## 1. Introducción 

La inclusión financiera es un concepto multifactorial, que se define como el acceso y uso
de servicios financieros formales bajo una regulación apropiada que garantice esquemas
de protección al consumidor y promueva la educación financiera para mejorar la
capacidad financiera de todos los segmentos de la población (CNBV, 2020). De esta
forma, la inclusión financiera va más allá de la penetración del crédito o el ahorro: implica
democratizar el acceso a servicios financieros de calidad y en las condiciones adecuadas
para que la población pueda beneficiarse de participar en el sistema financiero.

Los beneficios que la inclusión financiera puede tener en una sociedad es un tema que
ha generado interés en la literatura, la cual ha documentado efectos tanto a nivel de
hogares y empresas como a nivel macroeconómico. Diversos estudios a nivel agregado
han encontrado una relación positiva entre una mayor inclusión financiera y el
crecimiento y desarrollo económicos (Barajas, et al., 2020; Demirguc-Kunt, et al., 2017; Cull
et al., 2014; Beck et al., 2009). Además, investigaciones recientes muestran que el impacto
positivo de un sistema financiero de mayor tamaño se incrementa en aquellos países con
mayores niveles de inclusión financiera (Svirydzenka, 2016). De forma análoga, la inclusión
financiera ha probado ser una herramienta esencial para combatir la desigualdad y la
pobreza (Cihak & Sahay, 2020; Loukaianova & Yang, 2018). Además, sus beneficios no se
limitan únicamente a la población usuaria, ya que también contribuye a conformar un
sistema financiero más estable (Nguyen & Du, 2022; Banna & Alam, 2021; Ahamed &
Mallick, 2019), al ofrecer a las instituciones financieras una fuente de fondeo estable a
través de la captación, y reducir la toma de riesgos de las instituciones. 

La importancia de promover la educación financiera entre la población radica en que
la evidencia académica ha mostrado que bajos niveles de educación financiera podrían
detener el crecimiento de la inclusión financiera (Atkinson & Messy, 2013b). Otras
investigaciones han mostrado consistentemente que obtener estas capacidades
económico-financieras es esencial para evitar cometer errores financieros, como pueden
ser ahorrar en instrumentos no adecuados, no contar con un plan de retiro, tomar riesgos
excesivos al invertir, recurrir a fuentes de financiamiento costosas, realizar un manejo
inadecuado de sus deudas o ser víctima de fraudes o estafas (Lusardi & Mitchell, 2014).
Además, la educación financiera tiene un impacto significativo en el desarrollo
económico, ya que, se ha encontrado que mejoras en las competencias económicofinancieras contribuyen a una menor desigualdad de los ingresos (Oliver-Márquez, et al
2021, Lusardi, et al.; 2017, Lo Prete, 2013) y reduce los niveles de pobreza (Askar, et al., 2020). 

Considerando la importancia que tienen la inclusión y la educación financiera como
medios complementarios no solo para fomentar un mayor crecimiento económico sino
también para mejorar la calidad de vida de la población mexicana, el Gobierno de México ha establecido la Política Nacional de Inclusión Financiera (PNIF), cuyo objetivo
primordial es impulsar la inclusión y las competencias económico-financieras, así como
la protección a la población usuaria de productos financieros en México. Asimismo, la
PNIF Incluye la Estrategia Nacional del Educación Financiera (ENEF), cuyo objetivo es
guiar los esfuerzos del país para fomentar el bienestar financiero de la población.
Evaluar y dar seguimiento a los avances de esta política sería imposible sin fuentes de
datos adecuadas y robustas. Con este fin, la Comisión Nacional Bancaria y de Valores
(CNBV), en colaboración con el Instituto Nacional de Estadística y Geografía (INEGI),
realizan la Encuesta Nacional de Inclusión Financiera (ENIF). Esta encuesta tiene como
objetivo generar información estadística e indicadores oficiales a nivel nacional y regional
que permitan a las autoridades financieras hacer diagnósticos, diseñar políticas públicas
y establecer metas en materia de inclusión y educación financieras; asimismo, incorporar
cambios y actualizaciones requeridas para dar atención a nuevos requerimientos de
información y consideraciones en la PNIF.

## 2. Metodología

### 2.1 Importación de datos

Del sitio: https://www.inegi.org.mx/programas/enif/2021/#datos_abiertos se hizo la descarga del conjunto de datos comprimidos. Despues de un proceso de descompresión se obtuvieron los conjuntos de datos: tmodulo y tsdem. Ambos se almacenaron en sus correspondientes carpetas.

Importante:

El presente estudio se baso en dos conjuntos de datos: tsdem y tmodulo. 

tmodulo: Información de las secciones del módulo. Informacion del hogar en si

tsdem: Información de residentes del hogar. Información propia de las personas dentro del hogar.

La forma en que los datos se organizan es:

Hay un conjunto de datos principal (tmodulo, tsdem), cada feature esta asociada con una clave y un valor, la información de los valores se encuentra en "catalogos" alojados dentro del mismo directorio. El significado de cada pregunta se encuentra dentro de diccionario de datos.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

Creando una funcion la cual recibe si es tipo tmodulo o tsdem, además del año que se esta investigando. Despliega un diccionario con los datasets: principales, diccionarios y de catalogos (siendo este ultimo, otro diccionario). De tal modo que se importan todos los .csv relacionados en un solo diccionario.

In [2]:
# Importando conjuntos de datos principales:
def leer_conjunto_principal(archivo,year):
    mainpath = f"conjunto_de_datos_{archivo}_enif_{year}"
    df1 = pd.read_csv(f"{mainpath}/conjunto_de_datos/conjunto_de_datos_{archivo}_enif_{year}.csv")
    dfdict = pd.read_csv(f"{mainpath}/diccionario_de_datos/diccionario_datos_{archivo}_enif_{year}.csv")
    catalogos = {}
    contenidocatalogos = os.listdir(f"conjunto_de_datos_{archivo}_enif_{year}/catalogos")
    
    for catalogo in contenidocatalogos:
        catalogos[catalogo.replace(".csv","")] = pd.read_csv(f"conjunto_de_datos_{archivo}_enif_{year}/catalogos/{catalogo}",  encoding="ISO-8859-1")

    conjuntos = {"df":df1, "diccionario":dfdict, "catalogos":catalogos}

    return conjuntos

importando datos de tsdem

In [3]:
# tsdem
tsdem = leer_conjunto_principal("tsdem", 2021)

importando datos de tmodulo

In [4]:
tmodulo = leer_conjunto_principal("tmodulo", 2021)

### 2.2 Limpieza de datos

En tsdem y tmodulo:
Columna Edad en tmodulo y tsdem

In [5]:
tsdem["catalogos"]["edad"]

     cve                                            descrip
0      0                                    Menos de un año
1  01
96                                     Años cumplidos
2     97                                      97 años y más
3     98  Edad no especificada en personas de 18 años y más
4     99                          Otra edad no especificada

In [6]:
tmodulo["catalogos"]["edad"]

       cve                                            descrip
0        0                                    Menos de un año
1  01...96                                     Años cumplidos
2       97                                      97 años y más
3       98  Edad no especificada en personas de 18 años y más
4       99                          Otra edad no especificada

En ambos, se observa que la columna años cumplidos es un rango, mismo que no tiene sentido, ya que esos años cumplidos corresponden justo al valor de la columna cve

In [7]:
#Eliminando la fila 1 del dataset edad, del subdirectorio catalogos del directorio tsdem
tsdem["catalogos"]["edad"] = tsdem["catalogos"]["edad"].drop(1, axis=0)

In [8]:
#Eliminando la fila 1 del dataset edad, del subdirectorio catalogos del directorio tmodulo
tmodulo["catalogos"]["edad"] = tmodulo["catalogos"]["edad"].drop(1, axis=0)

En tmodulo ....

Analizando el p12_4

In [9]:
tmodulo["diccionario"][tmodulo["diccionario"]["nemónico"] == "p12_4"]

,nombre_campo,longitud,tipo,nemónico,catálogo,rango_claves,Unnamed: 6,Unnamed: 7,Unnamed: 8
359,Pregunta P12.4 ¿Cuántos meses le tomó reponers...,2,C,p12_4,p12_4,01...88,NaN,NaN,NaN

In [10]:
tmodulo["catalogos"]["p12_4"]

       cve                                      descrip
0  01...87                                        Meses
1       88  Todavía no se recupera o sigue endeudada(o)

Se observa la misma situacion en el registro 0, hay un rango ilegible de meses, que ademas, el valor actual corresponde al mismo valor en meses, por lo que no es necesario indexarse.

In [11]:
#eliminando el registro Meses
tmodulo["catalogos"]["p12_4"] = tmodulo["catalogos"]["p12_4"].drop(0, axis=0)

Analizando el p3_8a

In [12]:
tmodulo["diccionario"][tmodulo["diccionario"]["nemónico"] == "p3_8a"]["nombre_campo"]

12    Pregunta P3.8A ¿Cuánto gana o recibe usted por...
Name: nombre_campo, dtype: object

In [13]:
tmodulo["catalogos"]["p3_8a"]

             cve             descrip
0              0  No recibe ingresos
1  00001...97999            Ingresos
2          98000       $98 000 y más
3          99888         No responde

Se observa la misma situacion, en este caso con los ingresos. Siendo el numero dado un numero actual, real.

In [14]:
tmodulo["catalogos"]["p3_8a"] = tmodulo["catalogos"]["p3_8a"].drop(1, axis=0)

Removiendo p10_9_2

In [15]:
tmodulo["catalogos"]["p10_9_2"]

       cve  descrip
0  00...59  Minutos
1       99  No sabe

In [16]:
tmodulo["catalogos"]["p10_9_2"] = tmodulo["catalogos"]["p10_9_2"].drop(0, axis=0)

Removiendo p5_12

In [17]:
tmodulo["catalogos"]["p5_12"]

       cve                  descrip
0        0            No la utiliza
1  01...87          Número de veces
2       88  Menos de una vez al mes

In [18]:
tmodulo["catalogos"]["p10_9_2"] = tmodulo["catalogos"]["p10_9_2"].drop(1, axis=0)

Con el valor p10_6_1

In [19]:
tmodulo["catalogos"]["p10_6_1"]

       cve  descrip
0  00...23    Horas
1       99  No sabe

In [20]:
tmodulo["catalogos"]["p10_6_1"] = tmodulo["catalogos"]["p10_6_1"].drop(0, axis=0)

Con el valor p10_9_1

In [21]:
tmodulo["catalogos"]["p10_9_1"]

       cve  descrip
0  00...23    Horas
1       99  No sabe

In [22]:
tmodulo["catalogos"]["p10_9_1"] = tmodulo["catalogos"]["p10_9_1"].drop(0, axis=0)

Con el valor p10_3_1

In [23]:
tmodulo["catalogos"]["p10_3_1"]

       cve  descrip
0  00...23    Horas
1       99  No sabe

In [24]:
tmodulo["catalogos"]["p10_3_1"] = tmodulo["catalogos"]["p10_3_1"].drop(0, axis=0)

p10_6_2

In [25]:
tmodulo["catalogos"]["p10_6_2"]

       cve  descrip
0  00...59  Minutos
1       99  No sabe

In [26]:
tmodulo["catalogos"]["p10_6_2"] = tmodulo["catalogos"]["p10_6_2"].drop(0, axis=0)

p6_9

In [27]:
tmodulo["catalogos"]["p6_9"]

       cve                  descrip
0        0            No la utiliza
1  01...87          Número de veces
2       88  Menos de una vez al mes

In [28]:
tmodulo["catalogos"]["p6_9"] = tmodulo["catalogos"]["p6_9"].drop(1, axis=0)

p10_3_2

In [29]:
tmodulo["catalogos"]["p10_3_2"]

       cve  descrip
0  00...59  Minutos
1       99  No sabe

In [30]:
tmodulo["catalogos"]["p10_3_2"] = tmodulo["catalogos"]["p10_3_2"].drop(0, axis=0)

Reemplazando valores numericos por categoricos ... TSDEM

In [31]:
tsdem["df"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47045 entries, 0 to 47044
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FOLIO    47045 non-null  int64
 1   VIV_SEL  47045 non-null  int64
 2   HOGAR    47045 non-null  int64
 3   N_REN    47045 non-null  int64
 4   P2_3     47045 non-null  int64
 5   SEXO     47045 non-null  int64
 6   EDAD     47045 non-null  int64
 7   NIV      13561 non-null  float64
 8   GRA      13561 non-null  float64
 9   TLOC     47045 non-null  int64
 10  REGION   47045 non-null  int64
 11  EST_DIS  47045 non-null  int64
 12  UPM_DIS  47045 non-null  int64
 13  FAC_HOG  47045 non-null  int64
dtypes: float64(2), int64(12)
memory usage: 5.0 MB

Analizando cada valor

In [32]:
tsdem["diccionario"]

,nombre_campo,longitud,tipo,nemónico,catálogo,rango_claves
0,Número de folio,5,C,folio,NaN,00001...13352
1,Número de vivienda seleccionada,2,C,viv_sel,NaN,01...25
2,Número de hogar en la vivienda,1,C,hogar,NaN,1...5
3,Número de renglón,2,C,n_ren,NaN,01...30
4,Pregunta P2.3 ¿Qué es (NOMBRE) de la (del) jef...,1,C,p2_3,p2_3,1...6
5,Pregunta SEXO (NOMBRE) es hombre (NOMBRE) es m...,1,C,sexo,sexo,"1,2"
6,Pregunta EDAD ¿Cuántos años cumplidos tiene (N...,2,C,edad,edad,00...99
7,Pregunta NIV ¿Hasta qué año o grado aprobó (NO...,2,C,niv,niv,"00...09,99"
8,Pregunta GRA ¿Hasta qué año o grado aprobó (NO...,1,C,gra,NaN,0...9
9,Tamaño de localidad,1,C,tloc,tloc,1...4
10,Región,1,C,region,region,1...6
11,Estrato de diseño muestral,3,C,est_dis,NaN,001...235
12,UPM de diseño muestral,7,C,upm_dis,NaN,0000001...0002013
13,Factor de expansión,5,C,fac_hog,NaN,00000...99999

Analizando el diccionario, se pueden observar varias variables del tipo categorico, haciendo una recopilacion de las mismas

In [71]:
indexcat = tsdem["diccionario"]["catálogo"][pd.notnull(tsdem["diccionario"]["catálogo"])] 
categoricostsdem = [valor.upper() for valor in tsdem["diccionario"]["catálogo"][pd.notnull(tsdem["diccionario"]["catálogo"])] ]
tsdem['df'][indexcat.str.upper()] = tsdem['df'][indexcat.str.upper()].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47045 entries, 0 to 47044
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   FOLIO    47045 non-null  int64
 1   VIV_SEL  47045 non-null  int64
 2   HOGAR    47045 non-null  int64
 3   N_REN    47045 non-null  int64
 4   P2_3     47045 non-null  category
 5   SEXO     47045 non-null  category
 6   EDAD     47045 non-null  category
 7   NIV      13561 non-null  category
 8   GRA      13561 non-null  float64
 9   TLOC     47045 non-null  category
 10  REGION   47045 non-null  category
 11  EST_DIS  47045 non-null  int64
 12  UPM_DIS  47045 non-null  int64
 13  FAC_HOG  47045 non-null  int64
dtypes: category(6), float64(1), int64(7)
memory usage: 3.1 MB