In [1]:
dict = {"altura":[1.8, 1.9, 1.7, 1.6, 1.8],
        "edad":[29, 30, 28, 25, 26],
        "numero1":[1,2,3,4,5],
        "numero2":[6,7,8,9,10],
        "numero3":[11,12,13,14,15],
        "peso":[68, 80, 90, 67, 70]

}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(dict)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   altura   5 non-null      float64
 1   edad     5 non-null      int64
 2   numero1  5 non-null      int64
 3   numero2  5 non-null      int64
 4   numero3  5 non-null      int64
 5   peso     5 non-null      int64
dtypes: float64(1), int64(5)
memory usage: 372.0 bytes

In [5]:
numero1 = {"cve":[1, 2, 3, 4, 5],
        "descrip":["uno", "dos", "tres", "cuatro", "cinco"]
}

numero2 = {"cve":[6, 7, 8, 9, 10],
        "descrip":["seis", "siete", "ocho", "nueve", "diez"]
}

numero3 = {"cve":[11, 12, 13, 14, 15],
        "descrip":["once", "doce", "trece", "catorce", "quince"]
}

In [6]:
numero1 = pd.DataFrame(numero1)

numero2 = pd.DataFrame(numero2)

numero3 = pd.DataFrame(numero3)

In [7]:
catalogos = {
    "numero1":numero1,
    "numero2":numero2,
    "numero3":numero3
}

In [8]:
indices = ["numero1", "numero2", "numero3"]

In [9]:
for indice in indices:
    for cve in catalogos[indice]["cve"]:
        print(df[df[indice] == cve])
        print(catalogos[indice][catalogos[indice]["cve"] == cve])
        df[indice][df[indice] == cve] = catalogos[indice]["descrip"][catalogos[indice]["cve"] == cve]

   altura  edad  numero1  numero2  numero3  peso
0     1.8    29        1        6       11    68
   cve descrip
0    1     uno
   altura  edad numero1  numero2  numero3  peso
1     1.9    30       2        7       12    80
   cve descrip
1    2     dos
   altura  edad numero1  numero2  numero3  peso
2     1.7    28       3        8       13    90
   cve descrip
2    3    tres
   altura  edad numero1  numero2  numero3  peso
3     1.6    25       4        9       14    67
   cve descrip
3    4  cuatro
   altura  edad numero1  numero2  numero3  peso
4     1.8    26       5       10       15    70
   cve descrip
4    5   cinco
   altura  edad numero1  numero2  numero3  peso
0     1.8    29     uno        6       11    68
   cve descrip
0    6    seis
   altura  edad numero1 numero2  numero3  peso
1     1.9    30     dos       7       12    80
   cve descrip
1    7   siete
   altura  edad numero1 numero2  numero3  peso
2     1.7    28    tres       8       13    90
   cve descrip
2    8    ocho
   altura  edad numero1 numero2  numero3  peso
3     1.6    25  cuatro       9       14    67
   cve descrip
3    9   nueve
   altura  edad numero1 numero2  numero3  peso
4     1.8    26   cinco      10       15    70
   cve descrip
4   10    diez
   altura  edad numero1 numero2  numero3  peso
0     1.8    29     uno    seis       11    68
   cve descrip
0   11    once
   altura  edad numero1 numero2 numero3  peso
1     1.9    30     dos   siete      12    80
   cve descrip
1   12    doce
   altura  edad numero1 numero2 numero3  peso
2     1.7    28    tres    ocho      13    90
   cve descrip
2   13   trece
   altura  edad numero1 numero2 numero3  peso
3     1.6    25  cuatro   nueve      14    67
   cve  descrip
3   14  catorce
   altura  edad numero1 numero2 numero3  peso
4     1.8    26   cinco    diez      15    70
   cve descrip
4   15  quince

C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\2492775592.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[indice][df[indice] == cve] = catalogos[indice]["descrip"][catalogos[indice]["cve"] == cve]
C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\2492775592.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[indice][df[indice] == cve] = catalogos[indice]["descrip"][catalogos[indice]["cve"] == cve]
C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\2492775592.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[indice][df[indice] == cve] = catalogos[indice]["descrip"][catalogos[indice]["cve"] == cve]

In [10]:
df

   altura  edad numero1 numero2  numero3  peso
0     1.8    29     uno    seis     once    68
1     1.9    30     dos   siete     doce    80
2     1.7    28    tres    ocho    trece    90
3     1.6    25  cuatro   nueve  catorce    67
4     1.8    26   cinco    diez   quince    70

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   altura   5 non-null      float64
 1   edad     5 non-null      int64
 2   numero1  5 non-null      object
 3   numero2  5 non-null      object
 4   numero3  5 non-null      object
 5   peso     5 non-null      int64
dtypes: float64(1), int64(2), object(3)
memory usage: 372.0+ bytes

In [12]:
dict = {"altura":[1.8, 1.9, 1.7, 1.6, 1.8],
        "edad":[29, 30, 28, 25, 26],
        "numero1":[1,2,3,4,5],
        "numero2":[6,7,8,9,10],
        "numero3":[11,12,13,14,15],
        "peso":[68, 80, 90, 67, 70]

}

df = pd.DataFrame(dict)

In [13]:
numero1 = {"cve":[1, 2, 3, 4, 5],
        "descrip":["uno", "dos", "tres", "cuatro", "cinco"]
}

numero2 = {"cve":[6, 7, 8, 9, 10],
        "descrip":["seis", "siete", "ocho", "nueve", "diez"]
}

numero3 = {"cve":[11, 12, 13, 14, 15],
        "descrip":["once", "doce", "trece", "catorce", "quince"]
}

numero1 = pd.DataFrame(numero1)

numero2 = pd.DataFrame(numero2)

numero3 = pd.DataFrame(numero3)

In [14]:
diccionario = pd.DataFrame(
    {
        "otro": ["ax", "ac", "ab"],
        "cat치logo": ["numero1", "numero2", "numero3"]
    }
)

In [15]:
diccionario

  otro cat치logo
0   ax  numero1
1   ac  numero2
2   ab  numero3

In [16]:
tsdem = {
    "df":df,
    "diccionario":diccionario,
    "catalogos":{
        "numero1":numero1,
        "numero2":numero2,
        "numero3":numero3
    }
}

In [20]:
def cambiar_valores(archivo):
    for indice in archivo["diccionario"]["cat치logo"]:
        print(indice)
        for cve in archivo["catalogos"][indice]["cve"]:
            print(cve)
            print(df[df[indice] == cve])
            print(archivo["catalogos"][indice][archivo["catalogos"][indice]["cve"] == cve])
            archivo["df"][indice][archivo["df"][indice] == cve] = archivo["catalogos"][indice]["descrip"][archivo["catalogos"][indice]["cve"] == cve]

In [21]:
cambiar_valores(tsdem)

numero1
1
   altura  edad  numero1  numero2  numero3  peso
0     1.8    29        1        6       11    68
   cve descrip
0    1     uno
2
   altura  edad numero1  numero2  numero3  peso
1     1.9    30       2        7       12    80
   cve descrip
1    2     dos
3
   altura  edad numero1  numero2  numero3  peso
2     1.7    28       3        8       13    90
   cve descrip
2    3    tres
4
   altura  edad numero1  numero2  numero3  peso
3     1.6    25       4        9       14    67
   cve descrip
3    4  cuatro
5
   altura  edad numero1  numero2  numero3  peso
4     1.8    26       5       10       15    70
   cve descrip
4    5   cinco
numero2
6
   altura  edad numero1  numero2  numero3  peso
0     1.8    29     uno        6       11    68
   cve descrip
0    6    seis
7
   altura  edad numero1 numero2  numero3  peso
1     1.9    30     dos       7       12    80
   cve descrip
1    7   siete
8
   altura  edad numero1 numero2  numero3  peso
2     1.7    28    tres       8       13    90
   cve descrip
2    8    ocho
9
   altura  edad numero1 numero2  numero3  peso
3     1.6    25  cuatro       9       14    67
   cve descrip
3    9   nueve
10
   altura  edad numero1 numero2  numero3  peso
4     1.8    26   cinco      10       15    70
   cve descrip
4   10    diez
numero3
11
   altura  edad numero1 numero2  numero3  peso
0     1.8    29     uno    seis       11    68
   cve descrip
0   11    once
12
   altura  edad numero1 numero2 numero3  peso
1     1.9    30     dos   siete      12    80
   cve descrip
1   12    doce
13
   altura  edad numero1 numero2 numero3  peso
2     1.7    28    tres    ocho      13    90
   cve descrip
2   13   trece
14
   altura  edad numero1 numero2 numero3  peso
3     1.6    25  cuatro   nueve      14    67
   cve  descrip
3   14  catorce
15
   altura  edad numero1 numero2 numero3  peso
4     1.8    26   cinco    diez      15    70
   cve descrip
4   15  quince

C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\702352348.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo["df"][indice][archivo["df"][indice] == cve] = archivo["catalogos"][indice]["descrip"][archivo["catalogos"][indice]["cve"] == cve]
C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\702352348.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo["df"][indice][archivo["df"][indice] == cve] = archivo["catalogos"][indice]["descrip"][archivo["catalogos"][indice]["cve"] == cve]
C:\Users\Luis Carlos\AppData\Local\Temp\ipykernel_1320\702352348.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  archivo["df"][indice][archivo["df"][indice] == cve] = archivo["catalogos"][indice]["descrip"][archivo["catalogos"][indice]["cve"] == cve]

In [25]:
tsdem["df"]

   altura  edad numero1 numero2  numero3  peso
0     1.8    29     uno    seis     once    68
1     1.9    30     dos   siete     doce    80
2     1.7    28    tres    ocho    trece    90
3     1.6    25  cuatro   nueve  catorce    67
4     1.8    26   cinco    diez   quince    70